body {
  background: #e2e9ef;
  font-size: 15px;
  font-family: Arial,sans-serif;
  color: #304760;
}

.tabletop {
  background: #70e07c;
  color: #fff;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.project-title {
  padding-left: 20px;
}

.searchbox {
  padding-right: 20px;
}

.searchfield {
  border-radius: 13px;
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 27px;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
}

.searchfield:focus {  
  width: 160px;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
}

.table {
  background: #f8f9fb;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.tableheader {
  background: #e2e9ef;
  display: flex;
  position: sticky;
  top: 0;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.tableheadercolumn {
  flex: 1;
  padding: 5px;
}

.tablebody {
  display: flex;
  flex-direction: column;
}

.tablerow {
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
}

.tablecell {
  flex:1;
  padding: 5px;
}
